.wp-caption {
	margin: 2.5rem auto;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin-top: -1rem;
	}
}

.wp-caption-text {
	background: #000;
	color: #FFF;
	text-align: center;
}