$content-width : 36rem;

.widget-area {
	margin: 0 auto;
	max-width: $content-width;
	background: url(img/floral-rule.svg) no-repeat 50% 2rem;
	padding: 7rem 1rem;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}