$content-width : 36rem;

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-title {

	a {
		color: #000;
		display: inline-block;
		opacity: 0.6;
		text-decoration: none;

		&:hover {
			opacity: 1;
		}

	}
}
.entry-meta {
	color: rgba(#000,0.3);
	margin: -1rem 0 2rem;
	text-align: center;

	a {
		color: rgba(#000,0.3);
	}
}

.entry-content,
.entry-footer,
.comments-area {
	margin: 0 auto;
	max-width: $content-width;
	padding: 0 1rem;

	figure {
		img {
			border: 3px solid #333;
			background: rgba(#fff, 0.5);
			transform: rotate(-1deg);
			transition: all 0.3s ease;
			z-index: 10;
			
			&:hover {
				transform: rotate(0);
			}

		}

		&:nth-child(even) img {
			transform: rotate(1deg);
		}

		.wp-caption-text {
			transform: rotate(1deg);
			z-index: 20;
		}
		
		&:nth-child(even) .wp-caption-text {
			transform: rotate(-1deg);
		}
	}
}

.tags-links {
	display: block;
	margin: 0 1rem;
	opacity: 0.5;
	text-align: right;

	&:hover {
		opacity: 1;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.nav-links {
	clear: both;
	overflow: hidden;

	a {
		background: {
			color: rgba(#000, 0.1);
			repeat: no-repeat;
			image: url(img/arrow.svg);
			size: 50px;
		}
		display: inline-block;
		line-height: 1;
		padding: 0.5rem 1rem;
	}

	.nav-previous {
		float: left;

		a {
			background: {
				position: 10px 50%;
				size: 50px;
			}
			padding-left: 70px;
		}
	}

	.nav-next {
		float: right;

		a {
			background: {
				position: 95% 50%;
				size: 50px;
			}
			padding-right: 70px;
		}
	}

}